configparser==5.2.0
ffmpeg==1.4
gym==0.23.1
gym-minigrid==1.0.3
jupyter==1.0.0
matplotlib==3.8.4
moviepy==1.0.3
numpy==1.24.3
pandas==2.0.3
seaborn>=0.13.0
setuptools==63.2.0
torch>=1.12.0
wandb>=0.13.8
pettingzoo==1.24.3
stable_baselines3==2.4.0
jax==0.4.33
jaxlib==0.4.33
jaxmarl==0.0.7
flax==0.8.4
orbax-checkpoint==0.5.18
distrax
optax
chex
rlax
